<%- include('partials/header') %>

<div class="container mt-5">

  <h2>Edit Movie Record</h2><br><br>

  <form class="" action="/edit/movies" method="post">
    
    <div class="form-group">
      <label for="Rank">Rank</label>
      <input type="text" id="Rank" name="Rank" class="form-control" value="<%= record.Rank %>" required>
    </div>

    <div class="form-group">
      <label for="Title">Title</label>
      <input type="text" id="Title" name="Title" class="form-control" value="<%= record.Title %>" required>
    </div>

    <div class="form-group">
      <label for="Genre">Genre</label>
      <input type="text" id="Genre" name="Genre" class="form-control" value="<%= record.Genre %>" required>
    </div>

    <div class="form-group">
      <label for="Description">Description</label>
      <input type="text" id="Description" name="Description" class="form-control" value="<%= record.Description %>" required>
    </div>

    <div class="form-group">
      <label for="Director">Director</label>
      <input type="text" id="Director" name="Director" class="form-control" value="<%= record.Director %>" required>
    </div>

    <div class="form-group">
      <label for="Actors">Actors</label>
      <input type="text" id="Actors" name="Actors" class="form-control" value="<%= record.Actors %>" required>
    </div><br>

    <div class="form-group">
      <label for="Year">Year</label>
      <input type="number" id="Year" name="Year" class="form-control" value="<%= record.Year %>" required>
    </div><br>

    <div class="form-group">
      <label for="Runtime">Runtime (Minutes)</label>
      <input type="number" id="Runtime" name="Runtime" class="form-control" value="<%= record['Runtime (Minutes)'] %>" required>
    </div><br>

    <div class="form-group">
      <label for="Rating">Rating</label>
      <input type="number" id="Rating" name="Rating" class="form-control" value="<%= record.Rating %>" required>
    </div><br>

    <div class="form-group">
      <label for="Votes">Votes</label>
      <input type="number" id="Votes" name="Votes" class="form-control" value="<%= record.Votes %>" required>
    </div><br>

    <div class="form-group">
      <label for="Revenue">Revenue (Millions)</label>
      <input type="number" id="Revenue" name="Revenue" class="form-control" value="<%= record['Revenue (Millions)'] %>" required>
    </div><br>

    <div class="form-group">
      <label for="Metascore">Metascore</label>
      <input type="number" id="Metascore" name="Metascore" class="form-control" value="<%= record.Metascore %>" required>
    </div><br>

    <input type="hidden" id="_id" name="_id" class="" value="<%= record._id %>">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <br><br><br>
</div>

<%- include('partials/footer') %>
