<%- include('partials/header') %>

<div class="container-fluid table-responsive bg-white text-dark" id="mainContent">
  <div class="row">

    <!--TODO id and for attributes will need to be changed-->
    <div class="col-sm-1 border">
      <h4>Filter</h4>
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle m-1" data-toggle="dropdown">
          Genre
        </button>
        <div class="dropdown-menu p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Action" onclick="filter('Action')">  
            <label class="form-check-label" for="Action">
              Action
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Adventure" onclick="filter('Adventure')">
            <label class="form-check-label" for="Adventure">
              Adventure
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Sci-Fi" onclick="filter('Sci-Fi')">
            <label class="form-check-label" for="Sci-Fi">
              Sci-Fi
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Thriller" onclick="filter('Thriller')">
            <label class="form-check-label" for="Thriller">
              Thriller
            </label>
          </div>
        </div>      <!--End of Genre dropdown-menu-->
      </div>     <!--End of Genre btn-group-->
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle m-1" data-toggle="dropdown">
          Rating
        </button>
        <div class="dropdown-menu p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Rating1-3Check">
            <label class="form-check-label" for="Rating1-3Check">
              1.0 - 3.0
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Rating3-5Check">
            <label class="form-check-label" for="Rating3-5Check">
              3.1 - 5.0
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Rating5-7Check">
            <label class="form-check-label" for="Rating5-7Check">
              5.1 - 7.0
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Rating7-1Check">
            <label class="form-check-label" for="Rating7-1Check">
              7.1 - 10.0
            </label>
          </div>
        </div>
      </div> <!-- End of Rating btn-group-->
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle m-1" data-toggle="dropdown">
          Metascore
        </button>
        <div class="dropdown-menu p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="10-30" onclick="filterRating('10-30')">
            <label class="form-check-label" for="10-30">
              10 - 30
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="31-50" onclick="filterRating('31-50')">
            <label class="form-check-label" for="31-50">
              31 - 50
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="51-70" onclick="filterRating('51-70')">
            <label class="form-check-label" for="51-70">
              51 - 70
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="71-100" onclick="filterRating('71-100')">
            <label class="form-check-label" for="71-100">
              71 - 100
            </label>
          </div>
        </div>
      </div>
    </div> <!--End of filter menus column-->


    <div class="col-sm-10">
      <table class="table table-striped" id="myTable">
        <!--table-hover -->
        <thead>
          <tr>
            <th></th> <!-- The column name above the 'Recommend' button is left blank -->
            <% headers.forEach(function(col) { %>
            <th>
              <%= col %>
            </th>
            <% }); %>
          </tr>
        </thead>

        <tbody>
          <% moviesList.forEach(function(entry, index) { %>
          <form class="" action="/recommendation/<%= entry['Title'] %>" method="get">
            <tr class='clickable-row' data-href="/recommendation/<%= entry['Title'] %>" id="row<%= index %>">
              <td>
                <button type="submit" name="movieTitle" value="<%= entry['Title'] %>"
                  class="btn btn-secondary">Recommend
                </button>
              </td>
              <% headers.forEach(function(key) { %>
              <td id="testItem<%= key %><%= index %>">
                <%= entry[key] %>
              </td>
              <% }); %>
            </tr>
          </form>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>

  function filter(checkboxElem){

    const length = <%= moviesList.length %>;
    const checkbox = document.getElementById(checkboxElem)
  
    if(document.getElementById(checkboxElem).checked){
      for(let i =0; i < length; i++) {
        var row = document.getElementById('row'+i);
        //TODO change genre
        var item = document.getElementById('testItem'+'Genre'+i);
        if(!item.textContent.includes(checkboxElem)){
          document.getElementById('row'+i).style.display = 'none';
        }
      }
    }else{
      for (let i = 0; i < length; i++) {
          document.getElementById('row'+i).style.display = 'table-row';
      }
    }

  }

  function filterRating(checkboxElem){
    const length = <%= moviesList.length %>;
    const checkbox = document.getElementById(checkboxElem)
    var ratingCheck = checkboxElem.split("-");
    var min = parseFloat(ratingCheck[0]);
    var max = parseFloat(ratingCheck[1]);

    if(document.getElementById(checkboxElem).checked){
      for(let i =0; i < length; i++) {
        var row = document.getElementById('row'+i);
        var item = document.getElementById('testItem'+'Metascore'+i);
        //rating of current item
        var itemRating = parseFloat(item.textContent);
        //dont display items without rating
        if(Number.isNaN(itemRating)){
          document.getElementById('row'+i).style.display = 'none';
        }
        if(min <= itemRating && max <= itemRating){
          document.getElementById('row'+i).style.display = 'none';
        }
      }
    }else{
      for (let i = 0; i < length; i++) {
          document.getElementById('row'+i).style.display = 'table-row';
      }
    }

    function deSelect(input){
      
    }

    

  }
  // const checkbox = document.getElementById('actionCheck')
  // const length = <%= moviesList.length %>;
  
  // checkbox.addEventListener('change', (event) => {
  //   if (event.target.checked) {
  //     for (let i = 0; i < length; i++) {
  //       var y = document.getElementById('row'+i);
  //       // why is this null
  //       var goddamn = document.getElementById("testItem"+"Genre"+i);
  //        if (!goddamn.textContent.includes("Action")) {
  //         document.getElementById('row'+i).style.display = 'none';
  //         //document.getElementById('test').innerHTML = checkbox.value;
  //       }
  //     }
  //   } else {
  //     for (let i = 0; i < length; i++) {
  //       //if (i % 2 == 0) {
  //         document.getElementById('row'+i).style.display = 'table-row';
  //       //}
  //     }
  //   }
  // })
</script>



  <%- include('partials/footer') %>
